
:root{
    --blanco: #fff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;

}

html{
    /**/
    font-size: 62,5%;
    font-family: krub;
}
body{
    /*16 px es el estandar para navegadores*/
    font-size: 16px;
}
.title{
    text-align: center;
    font-size: 3.8rem;
}
.title span
{
    font-size: 2rem;
}


.contenedor{
    max-width: 120rem;
    margin: 0 auto;

}

.nav-bg{
    background-color: var(--secundario);
}

.navegacion-principal a{
    background-color: var(--secundario);
    color: var(--blanco);
    /*quitar decorado*/
    text-decoration: none;
    padding: 1rem;
}

.navegacion-principal{
    /*padding: 1rem;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content para filas y align-items para columnas*/
    justify-content: space-evenly;
    font-size: 1.6rem;
    font-weight: bold;
}

@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }

}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

