
:root{
    --blanco: #fff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;

}

html{
    /**/
    font-size: 62,5%;
    font-family: krub;
    box-sizing: border-box; 
}

*, *::before, *:after{
    box-sizing: inherit;
}

/*tipografia*/
h1{
    font-size: 3.8rem;
}

h2{
    font-size: 2.8rem;
}

h3{
    font-size: 1.8rem;
}

h1, h2, h3{
    text-align: center;
}


body{
    /*16 px es el estandar para navegadores*/
    font-size: 16px;
}
.title{
    text-align: center;
    font-size: 3.8rem;
}
.title span
{
    font-size: 2rem;
}


.contenedor{
    max-width: 120rem;
    margin: 0 auto;

}

.nav-bg{
    background-color: var(--secundario);
}

.navegacion-principal a{
    background-color: var(--secundario);
    color: var(--blanco);
    /*quitar decorado*/
    text-decoration: none;
    padding: 1rem;
}

.navegacion-principal{
    /*padding: 1rem;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content para filas y align-items para columnas*/
    justify-content: space-evenly;
    font-size: 1.6rem;
    font-weight: bold;
}

@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }

    .boton{
        width: auto;
    }

}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

.hero{
    background-image: url("../img/hero.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    position: relative;
}

.contenido-hero{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    /*alinacion vertical y horizontal*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero p, 
.contenido-hero h2{
    color: var(--blanco);
}

.ubicacion{
    display: flex;
    align-items: flex-end;
}

.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
}

@media (min-width: 768px) {

    .boton{
        width: auto;

    }

}

@media (min-width: 768px) {
    .servicios{
        display: grid;
        /*define el area de las columnas*/
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3{
    color: var(--secundario);
    font-weight: normal;
}

.servicio p{
    text-align: center;
    line-height: 2;
}

.servicios .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/*Contacto*/
.formulario{
    background-color: var(--gris);
    width: min(60rem,100%); 
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}
.formulario fieldset{
    border: none; /*quita el borde del fieldset*/
}
.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--primario)
}
.contenedor-campos{

}
.campo{
    margin-bottom: 1rem;
}
.campo label{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;/*distribucion equitativa*/
}
.input-text{
    width: 100%;
    border: none;
    padding: 1.5;
    border-radius: .5rem;
}
.campo textarea{
    height: 20rem;
}
/*utilidades*/
.w-sm-100{
    width: 100%;
}
@media (min-width: 768px){
    .w-sm-100{
        width: auto;
    }
}
.flex{
    display: flex;
}
.alinear-derecha{
    justify-content: flex-end;
}
/*Acomodar campos*/
@media (min-width: 768px){
    .contenedor-campos{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 2rem;
        /*espacio entre cada fila*/
        grid-template-rows: auto auto 20rem;
    }
}
.campo:nth-child(3),
.campo:nth-child(4){
    /*va de la columa 1 a la 3*/
    grid-column: 1/3;
}
.footer{
    text-align: center;
}